$primary-color: darkblue;
$background-color: #bada55;

// Chrome applies an 8px margin by default (gross).
body {
  margin: 0px;
}

.popupContainer {
  margin: 10px;
  width: 500px;
  text-align: center;
}

.flex {
  display: flex;
}
